<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for([@product, @product.reviews.build]) do |f|%>
    <div class="productDetail-evaluation ">
      <div class="intro-text-count clearfix ">

    </div>
    <div class="form-group">
      <%= f.input :body, label: "内容", input_html: { class: "form-control"} %>
    </div>

    <div class="form-actions">
      <%= f.submit "提交", disable_with: "Submiting..." %>
    </div>
  <% end %>
</div>

<script src="/assets/application.js"></script>
